
/*Tamaño temporal de las IMÁGENES*/
img {
    max-width: 200px;
    max-height: 200px;
}

/*Tamaño letras Familia Quicksand*/
body {
    font-family: 'Quicksand', sans-serif;
}
/*Clases principales de las secciones

main 
Seccion 1 Presentacion: main-side-left;
Seccion 2 Proyectos: main-side-rigth;

footer
Seccion 3 Indormación adicional: footer-information-down;
*/

