
/*Tamaño temporal de las IMÁGENES*/
img {
    max-width: 200px;
    max-height: 200px;
}

/*Clases principales de las secciones

main 
Seccion 1 Presentacion: main-side-left;
Seccion 2 Proyectos: main-side-rigth;

footer
Seccion 3 Indormación adicional: footer-information-down;
*/

* {
    margin: 0;
    padding: 0%;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(232, 246, 247);
}
body {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 60%;
    padding: 5%;
    gap: 5%;
    place-self: center;
}

main .main-side-rigth {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5%;
    gap: 5%;
    place-self: center;
}

footer .footer-information-down {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 10% 20% 20% 10%;
    padding: 5%;
    gap: 8%;
    place-self: center;
    background-color: rgb(213, 219, 219);
}





