
/*Tamaño temporal de las IMÁGENES*/


/*GRAL*/

* {
    margin: 0;
    padding: 0%;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(232, 246, 247);
}
body {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 10px;
}
h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.8rem;
    padding-bottom: 10px;
}

p {
    text-align: justify;
    font-size: medium;
    padding-bottom: 10px;
}

img {
    max-width: 300px;
    max-height: 300px;
}

/*MAIN*/

main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 60%;
    padding: 5%;
    gap: 5%;
    place-self: center;
}

main .main-side-rigth {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5%;
    gap: 5%;
    place-self: center;
}

main .main-image {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10px;
}

.main-side-left {
    text-align: center;
}

.main-image-pash {
    border-radius: 50%;
    object-fit: cover;
    width: 80%;
    height: auto;
    padding-left: 5%;
}

/*FOOTER*/

footer .footer-information-down {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 10% 20% 20% 10%;
    padding: 5%;
    gap: 8%;
    place-self: center;
    background-color: rgb(213, 219, 219);
}
